<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.0.2/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='/dwr/engine.js'></script>
    <script type='text/javascript' src='/dwr/interface/ReverseClass.js'></script>
    <script type='text/javascript' src='/dwr/util.js'></script>
    <script type='text/javascript' src='/js/qapel.js'></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/qapel.css">
    <script language="javascript">

        $( document ).ready(function() {
            const url = new URL(window.location.href);
            let id = url.searchParams.get("id");
            if (id) {
                setStationCookie(id);
            }
            getStation(startPolling);
        });

        function startPolling() {
            setTimeout(poll, 1000);
        }

        function poll() {
            ReverseClass.callReverseDWR({
                callback:function(result) {
                    if (result.length > 0) {
                        play(result);
                    }
                    startPolling();
                },
                timeout:2000,
                errorHandler:function(message) { alert(message + ": try reloading page"); }
            });
        }
    </script>
</head>

<body onload="highlightActive()">

    <div class="container">
        <div th:replace="fragments/header :: header">
        </div>
        <div class="d-flex justify-content-around">
            <div class = "d-flex align-items-center">
                <div class="h1 d-flex text-primary">
                    Tags in DB
                </div>
            </div>
            <div class = "d-flex align-items-center">
                <div id="stationName" class="h1 d-flex text-secondary" >
                    No Station Assigned
                </div>
            </div>
            <div class = "d-flex">
                <div id="read_tags" class="h1 p-4 m-4 border border-info rounded bg-info">
                    Waiting for RFID scan...
                </div>
            </div>
        </div>
        <div class="container table-responsive">
            <table class="table table-fixed table-striped table-secondary">
                <thead>
                <tr>
                    <th scope="col" class="col-3">Reader</th>
                    <th scope="col" class="col-3">EPC</th>
                    <th scope="col" class="col-1">Antenna</th>
                    <th scope="col" class="col-2">First Read</th>
                    <th scope="col" class="col-2">Last Read</th>
                    <th scope="col" class="col-1">Number Reads</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tag : ${tagList}">
                    <th scope="row" th:text="${tag.readerName}" class="col-3">Text ...</th>
                    <td th:text="${tag.epc}" class="col-3">Text ...</td>
                    <td th:text="${tag.antenna}" class="col-1">Text ...</td>
                    <td th:text="${tag.firstRead}" class="col-2">Text...</td>
                    <td th:text="${tag.lastRead}" class="col-2">Text...</td>
                    <td th:text="${tag.numReads}" class="col-1">Text...</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
    </div>


</body>

</html>